<div class="form-control">
    <%- include('../layouts/boilerplate', { title: '' , body: '' }) %>
</div>

<div class="container">
    <h1 class="mb-4">Edit User</h1>
    <form action="/admin/users/edit/<%= user._id %>" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required>
        </div>
        <button type="submit" class="btn btn-primary">Update User</button>
        <a href="/admin/users/list" class="btn btn-secondary ms-2">Cancel</a>
    </form>
</div>