<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        .side-nav {
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            background-color: #f8f9fa;
            padding-top: 20px;
            transition: transform 0.5s ease, width 0.5s ease;
            z-index: 1000;
            overflow-y: auto;
            /* Add this line to make the sidebar scrollable */
        }

        .side-nav.hidden {
            transform: translateX(-100%);
            width: 0;
        }

        .main-content {
            margin-left: 250px;
            transition: margin-left 0.5s ease;
        }

        .main-content.expanded {
            margin-left: 0;
        }

        .toggle-btn {
            position: fixed;
            /* top: 10px; */
            /* left: 10px; */
            z-index: 1001;
        }

        .hidden {
            display: none;
        }

        /* for Vat Reports */
        #vatReportHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #vatReportHeader:hover {
            background-color: 007bff;
            /* Blue background */
            color: white;
        }

        #vatReportContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            color: white;
            text-decoration: none;
            /* Remove background color */
            border: none;
            cursor: pointer;
        }

        #vatReportContent .subheader:hover {
            background-color: lightgreen;
        }

        /* for account header */
        #accountHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #accountHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #accountHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            /* Remove background color */
            text-decoration: none;
            color: white;
            border: none;
            cursor: pointer;
        }

        #accountHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;

        }

        /* for items header */
        #itemsHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #itemsHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #itemsHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            color: white;
            text-decoration: none;
            /* Remove background color */
            border: none;
            cursor: pointer;

        }

        #itemsHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }

        /* for sales header */
        #salesHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #salesHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #salesHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            /* Remove background color */
            border: none;
            cursor: pointer;
            background-color: gray;
            color: white;
            text-decoration: none;
        }

        #salesHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }

        /* for sales return header */
        #salesReturnHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #salesReturnHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #salesReturnHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            /* Remove background color */
            border: none;
            cursor: pointer;
            background-color: gray;
            color: white;
            text-decoration: none;
        }

        #salesReturnHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }

        /* for others header */
        #configurationHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #configurationHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #configurationHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            /* Remove background color */
            border: none;
            cursor: pointer;
            text-decoration: none;
            color: white;
        }

        #configurationHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }


        /* for stock adjustment header */
        #stockAdjustmentsHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #stockAdjustmentsHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #stockAdjustmentsHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            /* Remove background color */
            border: none;
            cursor: pointer;
            text-decoration: none;
            color: white;
        }

        #stockAdjustmentsHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }

        /* for home header */
        #homeHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #homeHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #homeHeader .subheader {
            background-color: transparent;
            /* Remove background color */
            color: black;
        }

        #homeHeader .subheader:hover {
            /* Remove background color */
            color: white;
            text-decoration: none;
        }

        /* for items ledger header */
        #itemsLedgerHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #itemsLedgerHeader .subheader {
            background-color: transparent;
            /* Remove background color */
            color: black;
            text-decoration: none;
        }

        #itemsLedgerHeader .subheader:hover {
            /* Remove background color */
            color: white;
            text-decoration: none;
        }

        #itemsLedgerHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }


        /* for purchase header */
        #purchaseHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #purchaseHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #purchaseHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            /* Remove background color */
            border: none;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }

        #purchaseHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }

        /* for purchase return header */
        #purchaseReturnHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #purchaseReturnHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #purchaseReturnHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            /* Remove background color */
            border: none;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }

        #purchaseReturnHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }

        /*for payment header*/
        #paymentHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #paymentHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #paymentHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            /* Remove background color */
            border: none;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }

        #paymentHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }

        /*for receipt header*/
        #receiptHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #receiptHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #receiptHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            /* Remove background color */
            border: none;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }

        #receiptHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }

        /*for journal header*/
        #journalHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #journalHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #journalHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            /* Remove background color */
            border: none;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }

        #journalHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }

        /*for debit note header*/
        #debitNoteHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #debitNoteHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #debitNoteHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            /* Remove background color */
            border: none;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }

        #debitNoteHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }

        /*for credit note header*/
        #creditNoteHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #creditNoteHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #creditNoteHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            /* Remove background color */
            border: none;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }

        #creditNoteHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }


        /*for fiscalYear header*/
        #fiscalYearHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #fiscalYearHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #fiscalYearHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            /* Remove background color */
            border: none;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }

        #fiscalYearHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }


        /* for My Company header */
        #myCompanyHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #myCompanyHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #myCompanyHeader .subheader {
            background-color: transparent;
            /* Remove background color */
            color: black;
            text-decoration: none;
        }

        #myCompanyHeader .subheader:hover {
            color: white;
        }

        /*for User Management header*/
        #userManagementHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #userManagementHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #userManagementHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            /* Remove background color */
            border: none;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }

        #userManagementHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }

        /*for Outstanding analysis(Ageing) header*/
        #ageingHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #ageingHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #ageingHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            /* Remove background color */
            border: none;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }

        #ageingHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }

        /*for inventory/stock-status header*/
        #inventoryHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #inventoryHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #inventoryHeaderContent .subheader {
            display: block;
            margin: 5px 0;
            padding: 10px;
            background-color: gray;
            /* Remove background color */
            border: none;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }

        #inventoryHeaderContent .subheader:hover {
            background-color: lightgreen;
            color: white;
        }


        /* for Logout header */
        #logoutHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #logoutHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #logoutHeader .subheader {
            background-color: transparent;
            /* Remove background color */
            color: black;
            text-decoration: none;
        }

        #logoutHeader .subheader:hover {
            color: white;
        }

        /* for change password header */
        #changePasswordHeader {
            cursor: pointer;
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        #changePasswordHeader:hover {
            background-color: #007bff;
            /* Blue background */
            color: white;
        }

        #changePasswordHeader .subheader {
            background-color: transparent;
            /* Remove background color */
            color: black;
            text-decoration: none;
        }

        #changePasswordHeader .subheader:hover {
            color: white;
        }
    </style>
</head>

<body>

    <!-- Toggle Button -->
    <div>
        <button class="btn btn-primary toggle-btn" onclick="toggleMenu()" id="toggleContainerClass"><i
                class="fas fa-bars"></i></button>
    </div>
    <!-- Side Navigation Bar -->
    <div class="side-nav">
        <br>
        <div class="text-center mb-4">
            <p>
                <%=currentCompanyName%>
            </p>
        </div>
        <ul class="nav flex-column">
            <li id="homeHeader">
                <a class="subheader" href="/wholesellerDashboard">Home</a>
            </li>

            <li id="accountHeader">Accounts
                <div id="accountHeaderContent" class="hidden">
                    <a class="subheader" href="/companies">Account</a>
                    <a class="subheader" href="/account-group">Account Group</a>
                </div>
            </li>

            <li id="itemsHeader">Items
                <div id="itemsHeaderContent" class="hidden">
                    <a class="subheader" href="/items">Item</a>
                    <a class="subheader" href="/categories">Category</a>
                    <a class="subheader" href="/units">Unit</a>
                </div>
            </li>

            <li id="salesHeader">Sales
                <div id="salesHeaderContent" class="hidden">
                    <a class="subheader" href="/bills">Add Sales</a>
                    <a class="subheader" href="/billsTrackBatch">Add Sales-Track Batch</a>
                    <a class="subheader" href="/billsTrackBatchOpen">Add Sales Open</a>
                    <a class="subheader" href="/bills-list">View Sales</a>
                </div>
            </li>
            <li id="salesReturnHeader">Sales Return
                <div id="salesReturnHeaderContent" class="hidden">
                    <a class="subheader" href="/sales-return">Add Sales Return</a>
                    <a class="subheader" href="/sales-return/list">View Sales Return</a>
                </div>
            </li>
            <li id="purchaseHeader">Purchase
                <div id="purchaseHeaderContent" class="hidden">
                    <a class="subheader" href="/purchase-bills">Add Purchase</a>
                    <a class="subheader" href="/purchase-bills-list">View Purchase</a>
                </div>
            </li>
            <li id="purchaseReturnHeader">Purchase Return
                <div id="purchaseReturnHeaderContent" class="hidden">
                    <a class="subheader" href="/purchase-return">Add Purchase Return</a>
                    <a class="subheader" href="/purchase-return/list">View Purchase Return</a>
                </div>
            </li>
            <li id="paymentHeader">Payment
                <div id="paymentHeaderContent" class="hidden">
                    <a class="subheader" href="/payments">Add Payment</a>
                    <a class="subheader" href="/payments-list">View Payment</a>
                </div>
            </li>
            <li id="receiptHeader">Receipt
                <div id="receiptHeaderContent" class="hidden">
                    <a class="subheader" href="/receipts">Add Receipt</a>
                    <a class="subheader" href="/receipts-list">View Receipt</a>
                </div>
            </li>
            <li id="journalHeader">Journal
                <div id="journalHeaderContent" class="hidden">
                    <a class="subheader" href="/journal/new">Add Journal</a>
                    <a class="subheader" href="/journal/list">View Journal</a>
                </div>
            </li>
            <li id="debitNoteHeader">Debit Note
                <div id="debitNoteHeaderContent" class="hidden">
                    <a class="subheader" href="/debit-note/new">Add Debit Note</a>
                    <a class="subheader" href="/debit-note/list">View Debit Note</a>
                </div>
            </li>
            <li id="creditNoteHeader">Credit Note
                <div id="creditNoteHeaderContent" class="hidden">
                    <a class="subheader" href="/credit-note/new">Add Credit Note</a>
                    <a class="subheader" href="/credit-note/list">View Credit Note</a>
                </div>
            </li>
            <li id="stockAdjustmentsHeader">Stock Adjustment
                <div id="stockAdjustmentsHeaderContent" class="hidden">
                    <a class="subheader" href="/stockAdjustments/new">Add</a>
                    <a class="subheader" href="/stockAdjustments">View</a>
                </div>
            </li>
            <li id="itemsLedgerHeader">
                <a class="subheader" href="/items-list">Item Ledger</a>
            </li>
            <li id="vatReportHeader">Report
                <div id="vatReportContent" class="hidden">
                    <a class="subheader" href="/statement">Statement</a>
                    <a class="subheader" href="/sales-vat-report">Sales VAT Report</a>
                    <a class="subheader" href="/salesReturn-vat-report">Sales Return Vat Report</a>
                    <a class="subheader" href="/purchase-vat-report">Purchase VAT Report</a>
                    <a class="subheader" href="/purchaseReturn-vat-report">Purchase Return VAT Report</a>
                </div>
            </li>

            <li id="ageingHeader">Outstanding report
                <div id="ageingHeaderContent" class="hidden">
                    <a class="subheader" href="/aging/accounts">Accounts</a>
                </div>
            </li>
            <li id="inventoryHeader">Inventory
                <div id="inventoryHeaderContent" class="hidden">
                    <a class="subheader" href="/wholeseller/stock-status">Stock Status</a>
                </div>
            </li>

            <li id="configurationHeader">Configuration
                <div id="configurationHeaderContent" class="hidden">
                    <a class="subheader" href="/settings">Voucher Settings Configuration</a>
                </div>
            </li>
            <li id="fiscalYearHeader">Fiscal Year Management
                <div id="fiscalYearHeaderContent" class="hidden">
                    <a class="subheader" href="/change-fiscal-year">Change Fiscal Year</a>
                    <a class="subheader" href="/switch-fiscal-year">Existing Fiscal Year</a>
                </div>
            </li>
            <li id="myCompanyHeader">
                <a class="subheader" href="/dashboard">My Company</a>
            </li>
            <% if (isAdminOrSupervisor) { %>
                <li id="userManagementHeader">User Management
                    <div id="userManagementHeaderContent" class="hidden">
                        <a class="subheader" href="/admin/create-user/new">Add User</a>
                        <a class="subheader" href="/admin/users/list">Users</a>
                    </div>
                </li>
                <% } %>
                    <li id="changePasswordHeader">
                        <a class="subheader" href="/user/change-password">Change Password</a>
                    </li>

                    <li id="logoutHeader">
                        <a class="subheader" href="/logout">Logout</a>
                    </li>

        </ul>
    </div>
    <script>
        // Function to toggle side menu visibility
        function toggleMenu() {
            const sideNav = document.querySelector('.side-nav');
            sideNav.classList.toggle('hidden');
        }

        // if (toggleMenu() === 'click') {

        // }
        // Toggle container class between 'container' and 'container-fluid'
        document.getElementById('toggleContainerClass').addEventListener('click', function () {
            var mainContainer = document.getElementById('mainContainer');
            if (mainContainer.classList.contains('container')) {
                mainContainer.classList.remove('container');
                mainContainer.classList.add('container-fluid');
            } else {
                mainContainer.classList.remove('container-fluid');
                mainContainer.classList.add('container');
            }
        });
        // Add event listeners for each header to toggle their content
        document.addEventListener('DOMContentLoaded', function () {
            function setupToggle(headerId, contentId) {
                const header = document.getElementById(headerId);
                const content = document.getElementById(contentId);
                header.addEventListener('click', function () {
                    content.classList.toggle('hidden');
                    content.style.display = content.classList.contains('hidden') ? 'none' : 'block';
                });
            }

            setupToggle('vatReportHeader', 'vatReportContent');
            setupToggle('accountHeader', 'accountHeaderContent');
            setupToggle('itemsHeader', 'itemsHeaderContent');
            setupToggle('salesHeader', 'salesHeaderContent');
            setupToggle('stockAdjustmentsHeader', 'stockAdjustmentsHeaderContent');
            setupToggle('configurationHeader', 'configurationHeaderContent');
            setupToggle('purchaseHeader', 'purchaseHeaderContent');
            setupToggle('paymentHeader', 'paymentHeaderContent');
            setupToggle('receiptHeader', 'receiptHeaderContent');
            setupToggle('journalHeader', 'journalHeaderContent');
            setupToggle('salesReturnHeader', 'salesReturnHeaderContent');
            setupToggle('purchaseReturnHeader', 'purchaseReturnHeaderContent');
            setupToggle('debitNoteHeader', 'debitNoteHeaderContent');
            setupToggle('creditNoteHeader', 'creditNoteHeaderContent');
            setupToggle('fiscalYearHeader', 'fiscalYearHeaderContent');
            setupToggle('userManagementHeader', 'userManagementHeaderContent');
            setupToggle('ageingHeader', 'ageingHeaderContent');
            setupToggle('inventoryHeader', 'inventoryHeaderContent');
        });
    </script>
</body>

</html>